.text-center {
  text-align: center
}

a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

a:link  {color: black;}
a:visited {color:aqua;}
a:hover {color:rgba(0, 255, 255, 0.493);}
a:active  {color:aquamarine}

a p {
  color
}

header, h1, h2 {
  text-align: center;
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 32px;
}

nav, div {
  width:;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.dark-background{
  color:lightcyan;
  background-color:darkgrey;
}

.light-background {
  color: darkgrey;
  background-color: lightcyan
}

hr {
  margin: 20px;
  color: black;
}

main h2 {
  padding: 15px;
  
}

main img {;
}

footer {
  margin-top: -15px;;
  padding: 0px;
}
/* columns */

.one-half {
  width: 460px;
}

.one-half {
  float: left;
  width: 50%
}

.row:before, 
.row:after {
	content: " ";
	clear: both;
	display: table;
}

/* images */

.full-width {
  width: 100%;
}